# Ignore Python bytecode and cache
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
env/

# Ignore system files
.DS_Store

# Ignore IDE/editor folders
.vscode/
.idea/

# Ignore backups
*.zip
*.tmp
